* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;

  overflow: hidden;
}

a {
  color: rgb(202, 202, 202);
  text-decoration: none;
}

a:hover {
  color: white;
}

ul {
  list-style: none;
}

img {
  border: 0;
  display: block;
}

.login-page {
  width: 100%;
  background-color: black;

  overflow: hidden;
}

#videobcg {
  position: absolute;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  z-index: -1000;

  overflow: hidden;
}

audio {
  position: absolute;
  top: 5%;
  left: 2%;
}

.join-tab {
  width: 400px;
  height: 600px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);

  border-radius: 50px;

  box-sizing: border-box;

  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -250px;

  text-align: center;
}

.join-tab > .header {
  display: flex;
  flex-direction: column;

  text-align: center;

  padding-bottom: 40px;
  border-bottom: 0;
}

.header_text {
  font-size: 17px;
  font-weight: 400;
}

.header_text_2 {
  margin-top: 20px;

  font-size: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.email-form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.email-form_text {
  width: 290px;

  padding: 5px;
}
.email-form_text_span {
  display: flex;
  align-items: flex-start;

  font-size: 13px;
}

.email-input {
  width: 290px;
  height: 40px;
  padding: 20px;
  background-color: transparent;

  box-sizing: border-box;

  border-radius: 10px;
  border: 1px solid rgb(195, 190, 190);

  outline: none;

  color: white;
}

.email-input::placeholder {
  color: rgba(250, 250, 250, 0.7);
}

.email-form_btn {
  width: 290px;
  height: 40px;

  border-radius: 30px;
  background-color: black;
  color: white;

  margin: 20px;
}

.email-form > .email-form_btn:hover {
  color: rgb(255, 228, 234);
}

.center-text {
  font-size: 13px;
  margin: 0;
  color: rgb(195, 190, 190);
}

.icon-group {
  margin: 10px;
  align-items: space-between;
}

.icon-group > .icon-group_btn:hover {
  /* transform: scale(1.4);
  transition: transform 0.3s; */
  color: rgb(195, 190, 190);
}

.icon-group_btn {
  border: none;
  background-color: transparent;

  margin: 0 30px;
}

.icon-group_btn_text {
  color: rgb(195, 190, 190);
  margin: 5px;
}

.join {
  margin: 20px;
}
.join > a {
  margin-left: 10px;
}

.join-text {
  color: rgb(195, 190, 190);
  font-size: 13px;
}

.join-link {
  color: black;
  text-decoration-line: none;
  font-size: 13px;
}
